.products-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width : 70%;
    height : 100%;
    margin : 10px;
}
.products{
    display: flex;
    flex-direction: column;
    margin : 0;
    height : 300px;
    width : 200px;
    justify-content: space-around;
}
.main{
    display: flex;
    justify-content: space-around;
}
.btn-design{
    display: flex;
    justify-content: space-evenly;
}